:root{
    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue:hsl(201, 11%, 66%);
    --body-font-size: 18px;
    --body-font: 'Bai Jamjuree', sans-serif; /*400 & 600*/

}
.attribution { 
    font-size: 11px; text-align: center; 
    margin-bottom: 0;
}
.attribution a { color: hsl(228, 45%, 44%); }
body{
    margin: 0;
    font-family: var(--body-font);
    font-size: 20px;
}
h1,h2,h3{
    font-weight: 700;
    color: var(--dark-grayish-blue);
}
h1{
    margin-top: 0;
    font-size: 3em;
}
h2{
    font-size: 2.5em;
}
h3{
    font-size: 1.5em;
}
p{
    font-weight: 400;
    color: var(--grayish-blue);
}
a{
    text-decoration: none;
}
header{
    background-image: url("images/bg-header-desktop.png");
    background-position: center !important;
    width: 100%;
    height: 360px;
}
.logo{
    position: absolute;
    top: 118px;
}
.first,
header, 
.int-first, 
.a-c-e,
.ft-first,
.download{
    text-align: center;
}
.first{
    margin-top: -80px;
}
.first > p,
.int-first > p,
.download > p{
    padding-left: 21%;
    padding-right: 21%;
}
.first > p {
    margin-bottom: 3em !important;
}
.btn{
    font-size: 20px;
    border-radius: 100px;
    padding: 0.5em 1.5em;
    font-weight: bold;
    color: white;
}
.btn-ios{
    background-color: var(--strong-cyan);
    margin-right: 0.5em;
    border: solid 0 0 3px 0 var(--strong-cyan);
    -webkit-box-shadow: 0px 5px 0px 0px hsl(171, 67%, 28%);
	box-shadow: 0px 5px 0px 0px hsl(171, 67%, 28%);
}
.btn-mac{
    background-color: var(--light-blue);
    -webkit-box-shadow: 0px 5px 0px 0px hsl(233, 45%, 45%);
	box-shadow: 0px 5px 0px 0px hsl(233, 45%, 45%);
}

.int-first{
    margin: 9em auto 5em auto;
}
.comp-descriptions{
    margin-bottom: 45em;
}
.comp-img{
    margin-left: -30px;
}
.div-comp-img{
    float: left;
}
.descript{
    float: left;
    width: 31%;
    text-align: left;
    margin-left: 5em;
}

.devices-img{
    margin-top: 5em;
}

.features{
    text-align: center;
    padding: auto 10em;
}
.far{
    color: var(--grayish-blue);
    font-size: 3em;
    margin: auto;
}
.feat-row{
    margin-bottom: 25em;
    margin-left: 15%;
}
.feat-col{
    width: 25%;
    float: left;
    margin: 4em 1.5em 6em 0;
}
.feat-col > p{
    font-size: 16px !important;
}
.feat-logos-row{
    margin-left: 8%;
}
.feat-logo{
    float: left;
    margin: 0 2em 0 2em;
}

.download{
    margin-top: 35em;
}
.download > p{
    margin-bottom: 5em;
}

footer{
    background-color: hsl(200, 18%, 93%);
    margin-top: 8em;
    width: 100%;
    margin-bottom: 0;
}
.foot-links{
    overflow: hidden;
}
.links-foot{
    float: left;
    width: 50%;
}
.logo-foot,
.social-foot{
    overflow: hidden;
    float: left;
    width: 25%;
}
.logo-foot{
    text-align: center;
    margin-top: 1em;
}
.links-col{
    float: left;
    margin-right: 5em;
}
.social-link{
    margin-left: 1em;
    font-size: 2em;
    color: var(--dark-grayish-blue);
}
.fab{
    margin-top: 20%;
}
.social-link:hover,
.link-down:hover{
    color: var(--strong-cyan);
}
.link-down{
    color: var(--grayish-blue);
}

@media screen and (max-width: 600px){
    header{
        background-image: url("images/bg-header-mobile.png");
        background-position: center !important;
    }
    .feat-col{
        float: none;
        width: 80%;
        margin: 1em auto auto auto;
    }
    .feat-row{
        margin: auto;
        margin-bottom: 5em;
    }
    .feat-logo{
        float: none;
        margin-bottom: 3em;
        margin-left: 0vw;
    }
    .ft-img{
        width: 80%;
    }
    .download{
        text-align: center !important;
        margin: 8em auto;
    }
}
@media (min-width: 600px) and (orientation: landscape){
    .feat-row{
        overflow: hidden;
        margin-bottom: 1em;
    }
    .ft-img{
        width: 60%;
    }
    .feat-col{
        margin-bottom: 3em;
    }
    .feat-logo{
        margin: 0;
    }
    .download{
        margin-top: 10em;
    }
    .a-c-e > p{
        padding-left: 11%;
        padding-right: 11%;
    }
}
@media (max-width: 825px){
    header{
        text-align: center;
    }
    .logo{
        position: static;
        display: block;
        margin: auto;
        padding-top: 15%;
    }
    .btn{
        display: block;
        margin: 0 auto 1em auto;
        width: 10em;
    }
    h1,h2,h3{
        padding-left: 0.2em;
        padding-right: 0.2em;
    }
    h1{
        font-size: 1.7em;
    }
    h2{
        font-size: 1.4em;
    }
    .first > p,
    .int-first > p,
    .download > p{
    padding-left: 11%;
    padding-right: 11%;
    }
    .comp-img,
    .devices-img{
        width: 80%;
    }
    .comp-descriptions{
        text-align: center;
        margin-bottom: 10em;
    }
    .comp-img{
        margin: auto auto 3em auto;
    }
    .descript{
        float: none;
        width: 80%;
        text-align: center;
        margin: auto;
    }

    .a-c-e{
        margin-bottom: 5em;
    }
    .devices-img{
        margin-top: 3em;
    }
    .logo-foot,
    .links-foot,
    .social-foot{
        float: none;
        width: 80%;
        margin: 2em auto 0 auto;
    }
    .links-col{
        float: none;
        margin-right: auto;
        text-align: center;
    }
    .social-foot{
        text-align: center;
    }
    .fab{
        margin-top: 0.1em;
    }
    .social-link{
        margin-left: 1em;
    }
}
